<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.somhaedal.somhaedal.mapper.SomeheadalSqlMapper">

<select id="adminLoginInfo" resultType="com.somhaedal.somhaedal.dto.AdminDto">
    select * from admin where admin_id = #{admin_id} and admin_passwd =#{admin_passwd};
</select>

<select id="forCountApply" resultType="int">
    select count(*)  from customer_info ci where  date(ct_apply_date) = current_date; 
</select>

<select id="readFabricCategory" resultType="com.somhaedal.somhaedal.dto.FabricCategoryDto">
    select * from fabric_category;
</select>

<select id="readFabricAdds" resultType="com.somhaedal.somhaedal.dto.FabricManagementDto">
select * from fabric_management;
</select>

<insert id="fabriAddInsert">
    insert into fabric_management (
	seq_num,
	fb_name,
	fb_type,
	fb_width,
	fb_height,
	fb_color,
	fb_thickness,
	fb_price,
	fb_location,
	fb_source_supply,
	fb_swatch_img_path,
	fb_stock_situation
) values(
	#{seq_num},
	#{fb_name},
	#{fb_type},
	#{fb_width},
	#{fb_height},
	#{fb_color},
	#{fb_thickness},
	#{fb_price},
	#{fb_location},
	#{fb_source_supply},
	#{fb_swatch_img_path},
	'입고대기'
	);
</insert>


<select id="readCategoryFabrics" resultType="map">
SELECT *
FROM fabric_management
WHERE fb_type IN (
  SELECT fc_ct_name
  FROM fabric_category
  WHERE fc_ct_name = #{fc_ct_name}
);
</select>

<update id="updateStock">
update fabric_management set fb_stock_situation = '입고완료' where fb_id_pk = #{fb_id_pk};
</update>

<update id="updateFabrics">
update fabric_management set fb_name =#{fb_name},
							 seq_num =#{seq_num},
							 fb_type =#{fb_type}, 
							 fb_width =#{fb_width}, 
							 fb_height = #{fb_height}, 
							 fb_color =#{fb_color}, 
							 fb_thickness = #{fb_thickness}, 
							 fb_price = #{fb_price}, 
							 fb_location =#{fb_location},
							 fb_swatch_img_path =#{fb_swatch_img_path}, 
							 fb_source_supply =#{fb_source_supply},
							 fb_last_inert_date_at = now()
							where fb_id_pk = #{fb_id_pk};
</update>




<select id="readFabricOnlyOne" resultType="map">
select * from fabric_management where fb_id_pk = #{fb_id_pk};
</select>

<select id="countFabrics" resultType="int">
select count(*) from fabric_management fm; 
</select>

<select id="countStocks" resultType="int">
select count(*)  from fabric_management fm where fm.fb_stock_situation = '입고완료';
</select>

<select id="countStocksWait" resultType="int">
select count(*)  from fabric_management fm where fm.fb_stock_situation = '입고대기';
</select>

<select id="sumFabrics" resultType="int">
SELECT sum(fb_width * fb_height) as total
FROM fabric_management;
</select>

<delete id="deleteFabrics">
delete from fabric_management where fb_id_pk =#{fb_id_pk};
</delete>







<select id="readOptions" resultType="com.somhaedal.somhaedal.dto.ProductOptiontDto">
	select * from product_option po group by po_name asc;
</select>

<select id="readMainProduct" resultType="com.somhaedal.somhaedal.dto.ProductDto">
	select * from main_product;
</select>


<insert id="insertCustomerInfo"
        parameterType="com.somhaedal.somhaedal.dto.CustomerInfoDto"
        useGeneratedKeys="true"
        keyProperty="ct_id_pk">
    insert into customer_info(
        ct_name, ct_phone, ct_address, ct_type, ct_option,
        ct_memo, ct_char, ct_char_explain, ct_how_many,
        ct_end_date, ct_apply_date, ct_face_cf, ct_design_cf, ct_deleivery, ct_delivery_op, ct_complete_cf
    ) values (
        #{ct_name}, #{ct_phone}, #{ct_address}, #{ct_type}, #{ct_option},
        #{ct_memo}, #{ct_char}, #{ct_char_explain}, #{ct_how_many},
        #{ct_end_date}, now(), "도안컨펌 미완료", "면피컨펌 미완료", "배송 미완료", #{ct_delivery_op}, "완성컨펌 미완료"
    )
</insert>


<insert id="insertCustomerChoiceOption"
        parameterType="com.somhaedal.somhaedal.dto.CustomerOption">
    INSERT INTO customer_choice_option (ct_id_pk, mp_id_pk, po_id_pk)
    VALUES (#{ct_id_pk}, #{mp_id_pk}, #{po_id_pk})
</insert>

<insert id="insertFaceDesign" parameterType="com.somhaedal.somhaedal.dto.CustomerImgDto">
insert into customer_img (ct_id_pk, ci_img_url) values (#{ct_id_pk}, #{ci_img_url});
</insert>

<select id="readCustomerList" resultType="com.somhaedal.somhaedal.dto.CustomerInfoDto">
select * from customer_info ci;
</select>



<select id="readCustomerOptions" resultType="com.somhaedal.somhaedal.dto.ProductOptiontDto">
  select po_name,
         po_extra_price
  from customer_choice_option cco
  inner join product_option po on po.po_id_pk = cco.po_id_pk
  where cco.ct_id_pk = #{ct_id_pk}
</select>


<select id="readCustomerAdds" resultType="com.somhaedal.somhaedal.dto.CustomerInfoDto">
select * from customer_info ci 
where ci.ct_id_pk = #{ct_id_pk};
</select>

<select id="readCustomerImgData" resultType="com.somhaedal.somhaedal.dto.CustomerImgDto">
select * from customer_img where ct_id_pk = #{ct_id_pk};
</select>



<select id="readDeliveryOp" resultType="com.somhaedal.somhaedal.dto.DeliveryOptionDto">
select * from delivery_option;
</select>


<select id="readSumOptionsOne" resultType="map">
SELECT 
    ci.ct_id_pk,
    ci.ct_name,
    ci.ct_phone,
    ci.ct_how_many,
    do.do_name,
    do.do_price,
    mp.mp_explain,
    mp.mp_charge,
    GROUP_CONCAT(po.po_name SEPARATOR ', ') AS option_names,
    GROUP_CONCAT(po.po_extra_price SEPARATOR ', ') AS option_prices,
    MIN(cco.oc_created_at) AS created_at,
    (ci.ct_how_many * mp.mp_charge 
     + SUM(po.po_extra_price) 
     + do.do_price) AS total_price
FROM customer_info ci 
INNER JOIN main_product mp 
    ON mp.mp_id_pk = ci.ct_type
INNER JOIN delivery_option do 
    ON do.do_id_pk = ci.ct_delivery_op
INNER JOIN customer_choice_option cco 
    ON cco.ct_id_pk = ci.ct_id_pk
INNER JOIN product_option po 
    ON po.po_id_pk = cco.po_id_pk
WHERE ci.ct_id_pk = #{ct_id_pk}
GROUP BY ci.ct_id_pk, ci.ct_name, ci.ct_phone, ci.ct_how_many,
         do.do_name, do.do_price, mp.mp_explain, mp.mp_charge;
</select>

<insert id="insertCustomerDeliInfo">
    insert into delivery_info (ct_id_pk, di_delivery_nb) values (#{ct_id_pk}, #{di_delivery_nb});
</insert>

<select id="readCustomerDeliInfo" resultType="com.somhaedal.somhaedal.dto.DeliveryInfo">
select * from delivery_info where ct_id_pk = #{ct_id_pk};
</select>


<update id="updateCustomerInfo" parameterType="com.somhaedal.somhaedal.dto.CustomerInfoDto">
    update customer_info
    set 
        ct_name = #{ct_name},
        ct_phone = #{ct_phone},
        ct_address = #{ct_address},
        ct_type = #{ct_type},
        ct_memo = #{ct_memo},
        ct_char = #{ct_char},
        ct_char_explain = #{ct_char_explain},
        ct_how_many = #{ct_how_many},
        ct_apply_date = #{ct_apply_date},
        ct_end_date = #{ct_end_date}
    where ct_id_pk = #{ct_id_pk};
</update>



<update id="updateChoiceType" parameterType="com.somhaedal.somhaedal.dto.CustomerOption">
    update customer_choice_option
    set
        mp_id_pk = #{mp_id_pk},
        po_id_pk = #{po_id_pk}
    where
        ct_id_pk = #{ct_id_pk}
        and oc_id_pk = #{oc_id_pk}
</update>

<!-- 이미지 (개별 행 업데이트용) -->
<update id="updateCustomerImg" parameterType="com.somhaedal.somhaedal.dto.CustomerImgDto">
    update customer_img
    set ci_img_url = #{ci_img_url}
    where
        ci_id_pk = #{ci_id_pk}
        and ct_id_pk = #{ct_id_pk}
</update>

<!--고객정보 delete용-->
<delete id="deleteCustomerImgs">
    delete from customer_img where ct_id_pk = #{ct_id_pk};
</delete>

<delete id="deleteCustomerOptions">
    delete from customer_choice_option where ct_id_pk = #{ct_id_pk};
</delete>

<delete id="deleteCustomerInfo">
    delete from customer_info where ct_id_pk = #{ct_id_pk};
</delete>

<delete id="deleteDeleteCustomerDeli">
    delete from delivery_info where ct_id_pk = #{ct_id_pk};
</delete>

<!-- 업데이트 버튼 -->
<update id="updateDesignCf" parameterType="com.somhaedal.somhaedal.dto.CustomerInfoDto">
	update customer_info set ct_face_cf = '컨펌완료' where ct_id_pk = #{ct_id_pk};
</update>

<update id="updateFaceCf" parameterType="com.somhaedal.somhaedal.dto.CustomerInfoDto">
	update customer_info set ct_design_cf = '컨펌완료' where ct_id_pk = #{ct_id_pk};
</update>

<update id="updateCompleteCf" parameterType="com.somhaedal.somhaedal.dto.CustomerInfoDto">
	update customer_info set ct_complete_cf = '컨펌완료' where ct_id_pk = #{ct_id_pk};
</update>

<update id="updateDeliState" parameterType="com.somhaedal.somhaedal.dto.CustomerInfoDto">
    update customer_info set ct_deleivery = '배송완료' where ct_id_pk =#{ct_id_pk};
</update>


<insert id="insertDollDesign">
    insert into doll_design (ct_id_pk, dd_img_url) values(#{ct_id_pk}, #{dd_img_url});
</insert>

<select id ="readDollFaceImg" parameterType="int" resultType="map">
    select * from doll_design where ct_id_pk= #{ct_id_pk};
</select>

<insert id="insertRealFaceImg">
    insert into real_face_img (ct_id_pk, rf_img_url) values(#{ct_id_pk}, #{rf_img_url});
</insert>

<insert id="insertCompleteImg">
    insert into complete_img (ct_id_pk, ci_img_url) values(#{ct_id_pk}, #{ci_img_url});
</insert>

<select id ="readRealFaceImg" parameterType="int" resultType="map">
    select * from real_face_img where ct_id_pk= #{ct_id_pk};
</select>

<select id ="readCompleteImg" parameterType="int" resultType="map">
    select * from complete_img where ct_id_pk= #{ct_id_pk};
</select>




</mapper>
