<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.somhaedal.somhaedal.mapper.SomeheadalSqlMapper">

<select id="adminLoginInfo" resultType="com.somhaedal.somhaedal.dto.AdminDto">
    select * from admin where admin_id = #{admin_id} and admin_passwd =#{admin_passwd};
</select>

<select id="forCountApply" resultType="com.somhaedal.somhaedal.dto.CustomerInfoDto">
    select count(*)  from customer_info ci where  date(ct_apply_date) = current_date; 
</selct>

</mapper>
